<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/collection.css'>
<title>Collection</title>


<div id='albumCollection' class='ui container'>
	

	<div class='ui container'>
		<div id='sortAndDelete'>
			Sorted by: <strong><a id='artistSort'>Added</a></strong>
			<span id='edit'>Edit</span>
		</div>
	</div>
	<div id='mainAlbumSegment' class="ui segment">
	<div id='message' class='ui center aligned container'>
	<div class="ui message">
		<i id='closeIcon' class="close icon"></i>
		<div id='artistSuggestionContainer' class='ui container'>
		<div id='artistSuggestion' class="header">
			New Recommendation			
		</div>
			Check out <a id='listened' target='_blank' href=''></a>
		</div>
	</div>
	</div>
  <div id='similarCollection' class="ui right rail">
		<div id='similarSegment' class='ui segment'>
		<i id='closeIcon' class="close icon"></i>	
    <div id='similarContent' class="ui center aligned container">
			Have you listened to <a id='randomArtist' target='_blank' href=''></a>?
      <div class="ui card">
				<div id='randomImage' class="image">
					
				</div>
			</div>
			<span id='randomButtonContainer'>
				<button class="ui basic disabled button">Listen</button>
			</span>
    </div>
  </div>
  </div>
		<div id='albumList' class='ui four cards'>
			{{#each album}}
			
			<div id='card' class='card'>
				<a class='image' id='imageContainer' href="">
					<img id='image' class='img' title='{{{this.albums.title}}}' src='{{{this.albums.image}}}'>
				</a>
				<div id='cardInfo' class='ui center aligned container'>
					<a id='artistLink' href=''><h4 id='cardArtist'>{{{this.albums.artist}}}</h4></a>
					<h7 id='title'>{{{this.albums.title}}}</h7>
				</div>
				<p id = 'added'>{{{this.albums.added}}}</p>
				
				
				<form id='trash' action='/collection/{{{this.albums._id}}}?_method=DELETE' method='POST'>
					<button id='invisButton' class='ui mini red button'>Delete</button>
				</form>
			</div>
			{{/each}}
		</div>
		</div>
	</div>

</div>
<script src='/javascript/albums.js'></script>
<script src='/javascript/searchListener.js'></script>